In [2]:

# Importing necessary libraries

import re
import nltk
import string
import random
import warnings
import requests
import numpy as np
import pandas as pd
from PIL import Image
import seaborn as sns
from io import BytesIO
from scipy import spatial
nltk.download('stopwords')
from matplotlib import pyplot
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')
%matplotlib inline
from nltk.corpus import stopwords
from gensim.models import Word2Vec
from gensim.models import KeyedVectors
from nltk.tokenize import RegexpTokenizer
from sklearn.preprocessing import normalize
from sklearn.metrics import euclidean_distances
from gensim.models.phrases import Phrases, Phraser
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
from sklearn.preprocessing import StandardScaler, MinMaxScaler

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [5]:

# Loading and displaying the dataset

df = pd.read_csv("dataset.csv", encoding='latin1')

df.fillna('', inplace = True)

df.reset_index(drop = True, inplace = True)

df.head()

   user_id  ...               profession
0        1  ...
1        2  ...
2       16  ...  bit better than species
3        3  ...
4        4  ...

[5 rows x 15 columns]

## CountVectorizer Model

In [6]:

count = CountVectorizer()

#count_matrix = count.fit_transform(df['Bag_of_words'])

#cosine_sim = cosine_similarity(count_matrix, count_matrix)

count_matrix_one = count.fit_transform(df['I_am_working_in_field'])

cosine_sim_one = cosine_similarity(count_matrix_one, count_matrix_one)

count_matrix_two = count.fit_transform(df['spoken_languages'])

cosine_sim_two = cosine_similarity(count_matrix_two, count_matrix_two)

count_matrix_three = count.fit_transform(df['hobbies'])

cosine_sim_three = cosine_similarity(count_matrix_three, count_matrix_three)

count_matrix_four = count.fit_transform(df['completed_level_of_education'])

cosine_sim_four = cosine_similarity(count_matrix_four, count_matrix_four)

count_matrix_five = count.fit_transform(df['favorite_color'])

cosine_sim_five = cosine_similarity(count_matrix_five, count_matrix_five)

count_matrix_six = count.fit_transform(df['relation_to_smoking'])

cosine_sim_six = cosine_similarity(count_matrix_six, count_matrix_six)

count_matrix_seven = count.fit_transform(df['relation_to_alcohol'])

cosine_sim_seven = cosine_similarity(count_matrix_seven, count_matrix_seven)

count_matrix_eight = count.fit_transform(df['sign_in_zodiac'])

cosine_sim_eight = cosine_similarity(count_matrix_eight, count_matrix_eight)

count_matrix_nine = count.fit_transform(df['marital_status'])

cosine_sim_nine = cosine_similarity(count_matrix_nine, count_matrix_nine)

count_matrix_ten = count.fit_transform(df['I_like_movies'])

cosine_sim_ten = cosine_similarity(count_matrix_ten, count_matrix_ten)

count_matrix_eleven = count.fit_transform(df['I_like_music'])

cosine_sim_eleven = cosine_similarity(count_matrix_eleven, count_matrix_eleven)

count_matrix_twelve = count.fit_transform(df['my_active_sports'])

cosine_sim_twelve = cosine_similarity(count_matrix_twelve, count_matrix_twelve)

count_matrix_thirteen = count.fit_transform(df['profession'])

cosine_sim_thirteen = cosine_similarity(count_matrix_thirteen, count_matrix_thirteen)

euclidean_distance_age_df = euclidean_distances(df[['age']], df[['age']])

euclidean_distance_age = 1 - euclidean_distances(df[['age']], df[['age']]) / np.max((euclidean_distances(euclidean_distance_age_df)))

cosine_sim = (cosine_sim_one + cosine_sim_two + cosine_sim_three + cosine_sim_four + cosine_sim_five + cosine_sim_six + cosine_sim_seven + cosine_sim_eight + cosine_sim_nine + cosine_sim_ten + cosine_sim_eleven + cosine_sim_twelve + cosine_sim_thirteen + euclidean_distance_age) / 14

#cosine_sim = euclidean_distance_age

indices = pd.Series(df['user_id'])

In [7]:

def recommend_count(id, cosine_sim = cosine_sim):
    
    recommended_travelers = []
    
    idx = indices[indices == id].index[0]
    
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    
    #euclidean_score_series = pd.Series(euclidean_distance_age[idx]).sort_values(ascending = True)
    
    #score_series = euclidean_score_series
    
    top_3_indices = list(score_series.iloc[1:11].index)
    
    print("User Id:", id)
    
    newdf = df.loc[df["user_id"] == id]
    
    display(newdf)
    
   # newdf = df(df["user_id"] == id)

    print("\nOther Travelers Similarity Scores: \n \n",score_series.iloc[1:11])
    
    print("\nTop Three Similar Travellers:")
    
    for i in top_3_indices:
        recommended_travelers.append(list(df['user_id'])[i])
    
    display(df.loc[df["user_id"] == recommended_travelers[0]])
    
    display(df.loc[df["user_id"] == recommended_travelers[1]])
    
    display(df.loc[df["user_id"] == recommended_travelers[2]])
    
    display(df.loc[df["user_id"] == recommended_travelers[3]])
    
    display(df.loc[df["user_id"] == recommended_travelers[4]])
    
    display(df.loc[df["user_id"] == recommended_travelers[5]])
    
    display(df.loc[df["user_id"] == recommended_travelers[6]])
    
    display(df.loc[df["user_id"] == recommended_travelers[7]])
    
    display(df.loc[df["user_id"] == recommended_travelers[8]])
    
    display(df.loc[df["user_id"] == recommended_travelers[9]])

In [8]:

print("CountVectorizer Results \n")
recommend_count(144)

CountVectorizer Results

User Id: 144

     user_id  age  ...         my_active_sports      profession
139      144   22  ...  football, strengthening  primary school

[1 rows x 15 columns]

Other Travelers Similarity Scores:

 150    0.610826
67     0.591482
129    0.531886
48     0.514614
88     0.512246
23     0.472537
241    0.465836
82     0.464710
35     0.455772
59     0.451380
dtype: float64

Top Three Similar Travellers:

     user_id  ...                                         profession
150       59  ...  singer, barber, geologist, pharmacist, dispatc...

[1 rows x 15 columns]

    user_id  age  ...                                   my_active_sports profession
67      106   22  ...  auto-moto sports, football, hadzana and especi...   operator

[1 rows x 15 columns]

     user_id  age  ... my_active_sports profession
129      172   20  ...

[1 rows x 15 columns]

    user_id  age  ...                               my_active_sports      profession
48       41   16  ...  auto-moto sports, running, football, swimming  primary school

[1 rows x 15 columns]

    user_id  age  ... my_active_sports                  profession
88      111   18  ...                   so far secondary school: d

[1 rows x 15 columns]

    user_id  age  ... my_active_sports   profession
23       47   19  ...                   high school

[1 rows x 15 columns]

     user_id  age  ...                                my_active_sports profession
241      267   28  ...  rowing, rowing, ping pong, snowboarding, sloth    as ever

[1 rows x 15 columns]

    user_id  age  ...                   my_active_sports   profession
82       99   18  ...  roller skates, tennis, volleyball  high school

[1 rows x 15 columns]

    user_id  age  ...  my_active_sports profession
35       49   23  ...  football, hockey       Cook

[1 rows x 15 columns]

    user_id  age  ...                     my_active_sports profession
59       43   19  ...  running, football, hockey, swimming

[1 rows x 15 columns]

## TFIDFVectorizer Model

In [9]:

#df['Bag_of_words'] = ''

#df["Bag_of_words"] = df["I_am_working_in_field"] + "," + df["spoken_languages"] + "," + df["hobbies"] + "," + df["completed_level_of_education"] + "," + df["favorite_color"] + "," + df["relation_to_smoking"] + "," + df["relation_to_alcohol"] + "," + df["sign_in_zodiac"] + "," + df["marital_status"] + "," + df["I_like_movies"] + "," + df["I_like_music"] + "," + df["my_active_sports"] + "," + df["profession"]

#display(df["Bag_of_words"])

args = {
    #"stop_words": "english",
    "lowercase": True,
    "norm": "l2",
    "use_idf": True,
    "smooth_idf": True,
    "sublinear_tf": True
}

Tfidf = TfidfVectorizer(**args)

#count_matrix = count.fit_transform(df['Bag_of_words'])

#cosine_sim = cosine_similarity(count_matrix, count_matrix)

Tfidf_matrix_one = Tfidf.fit_transform(df['I_am_working_in_field'])

Tfidf_cosine_sim_one = cosine_similarity(Tfidf_matrix_one, Tfidf_matrix_one)

Tfidf_matrix_two = Tfidf.fit_transform(df['spoken_languages'])

Tfidf_cosine_sim_two = cosine_similarity(Tfidf_matrix_two, Tfidf_matrix_two)

Tfidf_matrix_three = Tfidf.fit_transform(df['hobbies'])

Tfidf_cosine_sim_three = cosine_similarity(Tfidf_matrix_three, Tfidf_matrix_three)

Tfidf_matrix_four = Tfidf.fit_transform(df['completed_level_of_education'])

Tfidf_cosine_sim_four = cosine_similarity(Tfidf_matrix_four, Tfidf_matrix_four)

Tfidf_matrix_five = Tfidf.fit_transform(df['favorite_color'])

Tfidf_cosine_sim_five = cosine_similarity(Tfidf_matrix_five, Tfidf_matrix_five)

Tfidf_matrix_six = Tfidf.fit_transform(df['relation_to_smoking'])

Tfidf_cosine_sim_six = cosine_similarity(Tfidf_matrix_six, Tfidf_matrix_six)

Tfidf_matrix_seven = Tfidf.fit_transform(df['relation_to_alcohol'])

Tfidf_cosine_sim_seven = cosine_similarity(Tfidf_matrix_seven, Tfidf_matrix_seven)

Tfidf_matrix_eight = Tfidf.fit_transform(df['sign_in_zodiac'])

Tfidf_cosine_sim_eight = cosine_similarity(Tfidf_matrix_eight, Tfidf_matrix_eight)

Tfidf_matrix_nine = Tfidf.fit_transform(df['marital_status'])

Tfidf_cosine_sim_nine = cosine_similarity(Tfidf_matrix_nine, Tfidf_matrix_nine)

Tfidf_matrix_ten = Tfidf.fit_transform(df['I_like_movies'])

Tfidf_cosine_sim_ten = cosine_similarity(Tfidf_matrix_ten, Tfidf_matrix_ten)

Tfidf_matrix_eleven = Tfidf.fit_transform(df['I_like_music'])

Tfidf_cosine_sim_eleven = cosine_similarity(Tfidf_matrix_eleven, Tfidf_matrix_eleven)

Tfidf_matrix_twelve = Tfidf.fit_transform(df['my_active_sports'])

Tfidf_cosine_sim_twelve = cosine_similarity(Tfidf_matrix_twelve, Tfidf_matrix_twelve)

Tfidf_matrix_thirteen = Tfidf.fit_transform(df['profession'])

Tfidf_cosine_sim_thirteen = cosine_similarity(Tfidf_matrix_thirteen, Tfidf_matrix_thirteen)

Tfidf_euclidean_distance_age_df = euclidean_distances(df[['age']], df[['age']])

Tfidf_euclidean_distance_age = 1 - euclidean_distances(df[['age']], df[['age']]) / np.max((euclidean_distances(Tfidf_euclidean_distance_age_df)))

cosine_sim_Tfidf = (Tfidf_cosine_sim_one + Tfidf_cosine_sim_two + Tfidf_cosine_sim_three + Tfidf_cosine_sim_four + Tfidf_cosine_sim_five + Tfidf_cosine_sim_six + Tfidf_cosine_sim_seven + Tfidf_cosine_sim_eight + Tfidf_cosine_sim_nine + Tfidf_cosine_sim_ten + Tfidf_cosine_sim_eleven + Tfidf_cosine_sim_twelve + Tfidf_cosine_sim_thirteen + Tfidf_euclidean_distance_age) / 14

#cosine_sim = euclidean_distance_age

indices = pd.Series(df['user_id'])

In [10]:

def recommend_Tfidf(id, cosine_sim = cosine_sim_Tfidf):
    
    recommended_travelers = []
    
    idx = indices[indices == id].index[0]
    
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    
    #euclidean_score_series = pd.Series(euclidean_distance_age[idx]).sort_values(ascending = True)
    
    #score_series = euclidean_score_series
    
    top_3_indices = list(score_series.iloc[1:11].index)
    
    print("User Id:", id)
    
    newdf = df.loc[df["user_id"] == id]
    
    display(newdf)
    
   # newdf = df(df["user_id"] == id)

    print("\nOther Travelers Similarity Scores: \n \n",score_series.iloc[1:11])
    
    print("\nTop Three Similar Travellers:")
    
    for i in top_3_indices:
        recommended_travelers.append(list(df['user_id'])[i])
    
    display(df.loc[df["user_id"] == recommended_travelers[0]])
    
    display(df.loc[df["user_id"] == recommended_travelers[1]])
    
    display(df.loc[df["user_id"] == recommended_travelers[2]])
    
    display(df.loc[df["user_id"] == recommended_travelers[3]])
    
    display(df.loc[df["user_id"] == recommended_travelers[4]])
    
    display(df.loc[df["user_id"] == recommended_travelers[5]])
    
    display(df.loc[df["user_id"] == recommended_travelers[6]])
    
    display(df.loc[df["user_id"] == recommended_travelers[7]])
    
    display(df.loc[df["user_id"] == recommended_travelers[8]])
    
    display(df.loc[df["user_id"] == recommended_travelers[9]])

In [11]:

print("TfidfVectorizer Results \n")
recommend_Tfidf(144)

TfidfVectorizer Results

User Id: 144

     user_id  age  ...         my_active_sports      profession
139      144   22  ...  football, strengthening  primary school

[1 rows x 15 columns]

Other Travelers Similarity Scores:

 150    0.579701
67     0.542711
129    0.517288
48     0.496858
88     0.475209
35     0.433098
82     0.430856
59     0.420512
241    0.417173
23     0.410402
dtype: float64

Top Three Similar Travellers:

     user_id  ...                                         profession
150       59  ...  singer, barber, geologist, pharmacist, dispatc...

[1 rows x 15 columns]

    user_id  age  ...                                   my_active_sports profession
67      106   22  ...  auto-moto sports, football, hadzana and especi...   operator

[1 rows x 15 columns]

     user_id  age  ... my_active_sports profession
129      172   20  ...

[1 rows x 15 columns]

    user_id  age  ...                               my_active_sports      profession
48       41   16  ...  auto-moto sports, running, football, swimming  primary school

[1 rows x 15 columns]

    user_id  age  ... my_active_sports                  profession
88      111   18  ...                   so far secondary school: d

[1 rows x 15 columns]

    user_id  age  ...  my_active_sports profession
35       49   23  ...  football, hockey       Cook

[1 rows x 15 columns]

    user_id  age  ...                   my_active_sports   profession
82       99   18  ...  roller skates, tennis, volleyball  high school

[1 rows x 15 columns]

    user_id  age  ...                     my_active_sports profession
59       43   19  ...  running, football, hockey, swimming

[1 rows x 15 columns]

     user_id  age  ...                                my_active_sports profession
241      267   28  ...  rowing, rowing, ping pong, snowboarding, sloth    as ever

[1 rows x 15 columns]

    user_id  age  ... my_active_sports   profession
23       47   19  ...                   high school

[1 rows x 15 columns]

## Average Word2Vec Model

In [12]:
#Utitlity functions for removing ASCII characters, converting lower case, removing stop words, html and punctuation from description

def _removeNonAscii(s):
    return "".join(i for i in s if  ord(i)<128)

def make_lower_case(text):
    return text.lower()

def remove_stop_words(text):
    text = text.split()
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops]
    text = " ".join(text)
    return text

def remove_html(text):
    html_pattern = re.compile('<.*?>')
    return html_pattern.sub(r'', text)

def remove_punctuation(text):
    tokenizer = RegexpTokenizer(r'\w+')
    text = tokenizer.tokenize(text)
    text = " ".join(text)
    return text

In [13]:

df['Bag_of_words'] = ''

df["Bag_of_words"] = df["I_am_working_in_field"] + "," + df["spoken_languages"] + "," + df["hobbies"] + "," + df["completed_level_of_education"] + "," + df["favorite_color"] + "," + df["relation_to_smoking"] + "," + df["relation_to_alcohol"] + "," + df["sign_in_zodiac"] + "," + df["marital_status"] + "," + df["I_like_movies"] + "," + df["I_like_music"] + "," + df["my_active_sports"] + "," + df["profession"]

#df['cleaned'] = df['Bag_of_words']

#df['Bag_of_words'] = df['Bag_of_words'].astype(str)

df['cleaned'] = df['Bag_of_words'].apply(_removeNonAscii)

df['cleaned'] = df.cleaned.apply(func = make_lower_case)
#df['cleaned'] = df.cleaned.apply(func = remove_stop_words)
df['cleaned'] = df.cleaned.apply(func=remove_punctuation)
df['cleaned'] = df.cleaned.apply(func=remove_html)

In [14]:
import os

def find(path):
    for root, dirs, files in os.walk(path):
        if 'bin.gz' in files:
            return os.path.join(root)
            
EMBEDDING_FILE = "https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz"
google_word2vec = KeyedVectors.load_word2vec_format(EMBEDDING_FILE, binary=True)

In [15]:
#splitting the description into words

i = 0
corpus = []
for words in df['cleaned']:
    corpus.append(words.split())

In [16]:

# Training our corpus with Google Pretrained Model
#%%time

google_model = Word2Vec(size = 300, window = 2, min_count = 1, workers = 3)

google_model.build_vocab(corpus)

#model.intersect_word2vec_format('./word2vec/GoogleNews-vectors-negative300.bin', lockf=1.0, binary=True)

In [17]:

google_model.intersect_word2vec_format(EMBEDDING_FILE, lockf=1.0, binary=True)

#KeyedVectors.load_word2vec_format(EMBEDDING_FILE, binary=True)

google_model.train(corpus, total_examples=google_model.corpus_count, epochs = 5)

(0, 0)

In [18]:

# Generate the average word2vec for the each book description

def vectors(x):
    
    # Creating a list for storing the vectors (description into vectors)
    global word_embeddings
    word_embeddings = []

    # Reading the each book description 
    for line in df['cleaned']:
        avgword2vec = None
        count = 0
        for word in line.split():
            if word in google_model.wv.vocab:
                count += 1
                if avgword2vec is None:
                    avgword2vec = google_model[word]
                else:
                    avgword2vec = avgword2vec + google_model[word]
                
        if avgword2vec is not None:
            avgword2vec = avgword2vec / count
        
            word_embeddings.append(avgword2vec)

In [ ]:

#vectors(df)

In [19]:

# Recommending the Top 5 similar books

def recommendations(id):
    
    # Calling the function vectors

    vectors(df)
    
    # finding cosine similarity for the vectors

    cosine_similarities = cosine_similarity(word_embeddings, word_embeddings)

    # taking the title and book image link and store in new data frame called books

    recommended_travelers = []
    
    idx = indices[indices == id].index[0]     

    sim_scores = list(enumerate(cosine_similarities[idx]))
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    sim_scores = sim_scores[1:4]
    
    print("User Id:", id)
    
    display(df.loc[df["user_id"] == id])
    
    print("\nOther Travelers Similarity Scores: \n \n", sim_scores)
    print("\nTop Three Similar Travellers:")
    
    book_indices = [i[0] for i in sim_scores]
    recommend = df.iloc[book_indices]
    for index, row in recommend.iterrows():

        display(df.loc[df["user_id"] == row['user_id']])

In [20]:

print("Average Word2Vec Results \n")
recommendations(144)

Average Word2Vec Results

User Id: 144

     user_id  ...                                            cleaned
139      144  ...  engineering and energy english listening to mu...

[1 rows x 17 columns]

Other Travelers Similarity Scores:

 [(197, 0.9386754), (184, 0.9328071), (192, 0.93126506)]

Top Three Similar Travellers:

     user_id  ...                                            cleaned
197      274  ...  computer technology helpdesk mechanical engine...

[1 rows x 17 columns]

     user_id  ...                                            cleaned
184      230  ...  the one that many people do not understand d t...

[1 rows x 17 columns]

     user_id  ...                                            cleaned
192      153  ...  pull meters facade insulation systems and my c...

[1 rows x 17 columns]

## TF-IDF Word2Vec Model

In [21]:
#Building TFIDF model and calculate TFIDF score

tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), stop_words='english')

tfidf.fit(df['cleaned'])

# Getting the words from the TF-IDF model

tfidf_list = dict(zip(tfidf.get_feature_names(), list(tfidf.idf_)))
tfidf_feature = tfidf.get_feature_names() # tfidf words/col-names

In [22]:
# Building TF-IDF Word2Vec 

# Storing the TFIDF Word2Vec embeddings
tfidf_vectors = []; 
line = 0;
# for each book description
for desc in corpus: 
  # Word vectors are of zero length (Used 300 dimensions)
    sent_vec = np.zeros(300) 
    # num of words with a valid vector in the book description
    weight_sum =0; 
    # for each word in the book description
    for word in desc: 
        if word in google_model.wv.vocab and word in tfidf_feature:
            vec = google_model.wv[word]
            tf_idf = tfidf_list[word] * (desc.count(word) / len(desc))
            sent_vec += (vec * tf_idf)
            weight_sum += tf_idf
    if weight_sum != 0:
        sent_vec /= weight_sum
    tfidf_vectors.append(sent_vec)
    line += 1

In [23]:
#Recommending top 5 similar books

def newrecommendations(id):
    
    # finding cosine similarity for the vectors

    cosine_similarities = cosine_similarity(tfidf_vectors,  tfidf_vectors)

    idx = indices[indices == id].index[0]     

    sim_scores = list(enumerate(cosine_similarities[idx]))
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    sim_scores = sim_scores[1:11]
    
    print("User Id:", id)
    
    display(df.loc[df["user_id"] == id])
    
    print("\nOther Travelers Similarity Scores: \n \n", sim_scores)
    print("\nTop Three Similar Travellers:")
    
    book_indices = [i[0] for i in sim_scores]
    recommend = df.iloc[book_indices]
    for index, row in recommend.iterrows():

        display(df.loc[df["user_id"] == row['user_id']])

In [25]:

print("TF-IDF with Word2Vec Results \n")
newrecommendations(144)

TF-IDF with Word2Vec Results

User Id: 144

     user_id  ...                                            cleaned
139      144  ...  engineering and energy english listening to mu...

[1 rows x 17 columns]

Other Travelers Similarity Scores:

 [(85, 0.8711744388562801), (288, 0.8706101389627348), (129, 0.8618793908767473), (71, 0.8479449119039395), (220, 0.8467386148100964), (53, 0.8385246404536706), (140, 0.8374484012896926), (243, 0.8357949520050187), (9, 0.8349069199621262), (252, 0.8325639004654141)]

Top Three Similar Travellers:

    user_id  ...                                            cleaned
85      136  ...  english german sports traveling working with p...

[1 rows x 17 columns]

     user_id  ...                                            cleaned
288      339  ...  education english german russian traveling wat...

[1 rows x 17 columns]

     user_id  ...                                            cleaned
129      172  ...  german but i still know french the best workin...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
71       96  ...  german listening to music watching movies cine...

[1 rows x 17 columns]

     user_id  ...                                            cleaned
220      197  ...  i m studying english his p sports traveling wa...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
53       42  ...  i m studying english german i can ask for stea...

[1 rows x 17 columns]

     user_id  ...                                            cleaned
140      105  ...  transport english also slovak sports traveling...

[1 rows x 17 columns]

     user_id  ...                                            cleaned
243      133  ...  german mainly his p swimming pool sports liste...

[1 rows x 17 columns]

   user_id  ...                                            cleaned
9       19  ...  sexual well just that sports traveling hiking ...

[1 rows x 17 columns]

     user_id  ...                                            cleaned
252      270  ...  education sports traveling photography dancing...

[1 rows x 17 columns]

# BERT

In [26]:
!pip install tensorflow_text
import tensorflow_text as text  # Registers the ops.

Collecting tensorflow_text
  Downloading tensorflow_text-2.7.3-cp37-cp37m-manylinux2010_x86_64.whl (4.9 MB)
     |████████████████████████████████| 4.9 MB 4.9 MB/s
Requirement already satisfied: tensorflow-hub>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow_text) (0.12.0)
Requirement already satisfied: tensorflow<2.8,>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow_text) (2.7.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (1.13.3)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (1.42.0)
Requirement already satisfied: tensorflow-estimator<2.8,~=2.7.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (2.7.0)
Requirement already satisfied: numpy>=1.14.5 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (1.19.5)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (3.1.0)
Requirement already satisfied: libclang>=9.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (12.0.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (1.1.2)
Requirement already satisfied: flatbuffers<3.0,>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (2.0)
Requirement already satisfied: absl-py>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (0.12.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (1.6.3)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (3.17.3)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (3.3.0)
Requirement already satisfied: keras<2.8,>=2.7.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (2.7.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (0.22.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (1.15.0)
Requirement already satisfied: wheel<1.0,>=0.32.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (0.37.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (3.10.0.2)
Requirement already satisfied: gast<0.5.0,>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (0.2.0)
Requirement already satisfied: tensorboard~=2.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (2.7.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.8,>=2.7.0->tensorflow_text) (1.1.0)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow<2.8,>=2.7.0->tensorflow_text) (1.5.2)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (0.6.1)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (57.4.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (3.3.6)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (2.23.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (1.8.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (1.35.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (1.3.0)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (4.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (0.4.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (1.24.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow<2.8,>=2.7.0->tensorflow_text) (3.1.1)
Installing collected packages: tensorflow-text
Successfully installed tensorflow-text-2.7.3

In [27]:
import tensorflow_hub as hub

preprocessor = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/small_bert/bert_en_uncased_L-2_H-128_A-2/1", trainable=True)

In [28]:
import tensorflow as tf

def get_bert_embeddings(text, preprocessor, encoder):
  text_input = tf.keras.layers.Input(shape=(), dtype=tf.string)
  encoder_inputs = preprocessor(text_input)
  outputs = encoder(encoder_inputs)
  embedding_model = tf.keras.Model(text_input, outputs['pooled_output'])
  sentences = tf.constant([text])
  return embedding_model(sentences)

In [29]:
df.columns

Index(['user_id', 'age', 'I_am_working_in_field', 'spoken_languages',
       'hobbies', 'completed_level_of_education', 'favorite_color',
       'relation_to_smoking', 'relation_to_alcohol', 'sign_in_zodiac',
       'marital_status', 'I_like_movies', 'I_like_music', 'my_active_sports',
       'profession', 'Bag_of_words', 'cleaned'],
      dtype='object')

In [30]:
df_new = pd.DataFrame()

In [31]:
df_new['userId'] = df['user_id']
df_new[:10]

   userId
0       1
1       2
2      16
3       3
4       4
5      17
6       5
7      18
8      31
9      19

In [32]:
df_new['Bag of words'] = df["I_am_working_in_field"] + "," + df["spoken_languages"] + "," + df["hobbies"] + "," + df["completed_level_of_education"] + "," + df["favorite_color"] + "," + df["relation_to_smoking"] + "," + df["relation_to_alcohol"] + "," + df["sign_in_zodiac"] + "," + df["marital_status"] + "," + df["I_like_movies"] + "," + df["I_like_music"] + "," + df["my_active_sports"] + "," + df["profession"]
df_new

     userId                                       Bag of words
0         1  it,English,sports, sleeping, cinema, food, lis...
1         2  ,German,hiking, working around the house, work...
2        16  the largest company in the world office work,b...
3         3  advertising and media, services and trade,Engl...
4         4                                       ,,,,,,,,,,,,
..      ...                                                ...
299     235  vs,..so of course ,, I have no disability ..,....
300     341  skolstva, :),English, German, Kusa French .......
301     293                                       ,,,,,,,,,,,,
302     327  law and legislation,,street dance, snow, skate...
303     342                                       ,,,,,,,,,,,,

[304 rows x 2 columns]

In [33]:
df_bert = df_new['Bag of words'].apply(lambda x: get_bert_embeddings(x, preprocessor, encoder))

In [34]:
df_bert

0      ((tf.Tensor(-0.99974185, shape=(), dtype=float...
1      ((tf.Tensor(-0.9957831, shape=(), dtype=float3...
2      ((tf.Tensor(-0.99990815, shape=(), dtype=float...
3      ((tf.Tensor(-0.9990671, shape=(), dtype=float3...
4      ((tf.Tensor(-0.99996823, shape=(), dtype=float...
                             ...
299    ((tf.Tensor(-0.9999461, shape=(), dtype=float3...
300    ((tf.Tensor(-0.9998075, shape=(), dtype=float3...
301    ((tf.Tensor(-0.99996823, shape=(), dtype=float...
302    ((tf.Tensor(-0.99977595, shape=(), dtype=float...
303    ((tf.Tensor(-0.99996823, shape=(), dtype=float...
Name: Bag of words, Length: 304, dtype: object

In [35]:
import pickle

name="bert"
fname=open(file=name, mode="wb")
pickle.dump(obj=df_bert, file=fname)

In [36]:
def preprocess_text(text):
  text = text.lower()
  text = re.sub('[^A-Za-z0-9]+', ' ', text)
  return text

In [37]:
data = df[df['user_id']==144]
data

     user_id  ...                                            cleaned
139      144  ...  engineering and energy english listening to mu...

[1 rows x 17 columns]

In [38]:
data = data["I_am_working_in_field"] + "," + data["spoken_languages"] + "," + data["hobbies"] + "," + data["completed_level_of_education"] + "," + data["favorite_color"] + "," + data["relation_to_smoking"] + "," + data["relation_to_alcohol"] + "," + data["sign_in_zodiac"] + "," + data["marital_status"] + "," + data["I_like_movies"] + "," + data["I_like_music"] + "," + data["my_active_sports"] + "," + data["profession"]

In [39]:
data = str(data)

In [40]:
data

'139    engineering and energy,English,listening to mu...\ndtype: object'

In [41]:
query_text = preprocess_text(data)
query_encoding = get_bert_embeddings(query_text, preprocessor, encoder)

In [42]:
query_encoding

<tf.Tensor: shape=(1, 128), dtype=float32, numpy=
array([[-0.9999938 ,  0.01521009, -0.9944814 ,  0.60836005, -0.9917214 ,
         0.6792952 , -0.98672265, -0.59956014,  0.07488723,  0.05643401,
        -0.5793555 , -0.12046076, -0.0460673 ,  0.9999665 ,  0.753817  ,
        -0.96242094,  0.7533421 ,  0.07948259, -0.5720486 ,  0.4146699 ,
         0.9180094 ,  0.14319749,  0.12664817, -0.30214417, -0.9998503 ,
        -0.00867569, -0.9998691 ,  0.23248705,  0.95542914,  0.0877587 ,
         0.16072613, -0.02323895, -0.9970643 , -0.37982947,  0.6167075 ,
         0.9996465 , -0.9940647 , -0.06074822,  0.9609446 , -0.99010026,
         0.9779462 ,  0.9164649 , -0.98926467,  0.9308775 , -0.99400175,
        -0.23868535, -0.97761965,  0.9873777 ,  0.33870706,  0.9987644 ,
         0.84439915, -0.9005555 ,  0.02294382,  0.9309824 ,  0.8705588 ,
         0.9431502 , -0.59195024, -0.63373715,  0.8660302 , -0.8194255 ,
         0.13683535,  0.9192396 , -0.6810895 ,  0.8970535 , -0.5631062 ,
        -0.9999697 , -0.22477117,  0.81570256,  0.59764814,  0.95845574,
         0.9999137 ,  0.02521898, -0.9862486 ,  0.04696914,  0.91390127,
        -0.99739164, -0.7009658 ,  0.14555158, -0.8734706 ,  0.15001102,
        -0.29366907, -0.07509716, -0.9400697 , -0.99991274,  0.9997991 ,
        -0.9644305 ,  0.36664107, -0.977251  , -0.8975955 ,  0.8635925 ,
        -0.38335901,  0.81790966, -0.68972504,  0.98447853,  0.70821005,
         0.6567741 , -0.9409224 ,  0.8652461 , -0.9994424 , -0.93745893,
        -0.98430616,  0.8864941 , -0.9992145 , -0.8726    , -0.9964818 ,
        -0.5740757 , -0.99767834, -0.99420303,  0.20251676,  0.44480345,
         0.99845546, -0.15163058, -0.9071028 ,  0.9945126 , -0.999647  ,
         0.11847169, -0.8352314 ,  0.32330737,  0.12543714, -0.99937946,
         0.20566721, -0.99996316, -0.8646548 ,  0.79650325, -0.9995062 ,
         0.9877989 ,  0.90242624,  0.96432114]], dtype=float32)>

In [43]:
df_new['sim_score'] = df_bert.apply(lambda x: cosine_similarity(x, query_encoding)[0][0])
# df_new = df_new.sort_values(ascending=False, by='sim_score')
# df_new[df_new['sim_score']==307]
# df_new['sim_score'].iloc[307]

df_new.isna().sum()

userId          0
Bag of words    0
sim_score       0
dtype: int64

# BERT with Count-Vectorizer Model

In [44]:

count = CountVectorizer()

#count_matrix = count.fit_transform(df['Bag_of_words'])

#cosine_sim = cosine_similarity(count_matrix, count_matrix)

count_matrix_one = count.fit_transform(df['I_am_working_in_field'])

cosine_sim_one = cosine_similarity(count_matrix_one, count_matrix_one)

count_matrix_two = count.fit_transform(df['spoken_languages'])

cosine_sim_two = cosine_similarity(count_matrix_two, count_matrix_two)

count_matrix_three = count.fit_transform(df['hobbies'])

cosine_sim_three = cosine_similarity(count_matrix_three, count_matrix_three)

count_matrix_four = count.fit_transform(df['completed_level_of_education'])

cosine_sim_four = cosine_similarity(count_matrix_four, count_matrix_four)

count_matrix_five = count.fit_transform(df['favorite_color'])

cosine_sim_five = cosine_similarity(count_matrix_five, count_matrix_five)

count_matrix_six = count.fit_transform(df['relation_to_smoking'])

cosine_sim_six = cosine_similarity(count_matrix_six, count_matrix_six)

count_matrix_seven = count.fit_transform(df['relation_to_alcohol'])

cosine_sim_seven = cosine_similarity(count_matrix_seven, count_matrix_seven)

count_matrix_eight = count.fit_transform(df['sign_in_zodiac'])

cosine_sim_eight = cosine_similarity(count_matrix_eight, count_matrix_eight)

count_matrix_nine = count.fit_transform(df['marital_status'])

cosine_sim_nine = cosine_similarity(count_matrix_nine, count_matrix_nine)

count_matrix_ten = count.fit_transform(df['I_like_movies'])

cosine_sim_ten = cosine_similarity(count_matrix_ten, count_matrix_ten)

count_matrix_eleven = count.fit_transform(df['I_like_music'])

cosine_sim_eleven = cosine_similarity(count_matrix_eleven, count_matrix_eleven)

count_matrix_twelve = count.fit_transform(df['my_active_sports'])

cosine_sim_twelve = cosine_similarity(count_matrix_twelve, count_matrix_twelve)

count_matrix_thirteen = count.fit_transform(df['profession'])

cosine_sim_thirteen = cosine_similarity(count_matrix_thirteen, count_matrix_thirteen)

euclidean_distance_age_df = euclidean_distances(df[['age']], df[['age']])

euclidean_distance_age = 1 - euclidean_distances(df[['age']], df[['age']]) / np.max((euclidean_distances(euclidean_distance_age_df)))

cosine_sim = (cosine_sim_one + cosine_sim_two + cosine_sim_three + cosine_sim_four + cosine_sim_five + cosine_sim_six + cosine_sim_seven + cosine_sim_eight + cosine_sim_nine + cosine_sim_ten + cosine_sim_eleven + cosine_sim_twelve + cosine_sim_thirteen + euclidean_distance_age) / 14

#cosine_sim = euclidean_distance_age

indices = pd.Series(df['user_id'])

In [45]:

def recommend_count(id, cosine_sim = cosine_sim):
    
    recommended_travelers = []
    
    idx = indices[indices == id].index[0]
    
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    
    #euclidean_score_series = pd.Series(euclidean_distance_age[idx]).sort_values(ascending = True)
    
    #score_series = euclidean_score_series
    
    top_3_indices = list(score_series.iloc[1:].index)
    
    print("User Id:", id)
    
    newdf = df.loc[df["user_id"] == id]
    
    display(newdf)
    
   # newdf = df(df["user_id"] == id)

    print("\nOther Travelers Similarity Scores: \n \n",score_series.iloc[1:])
    
    print("\nTop Three Similar Travellers:")
    
    for i in top_3_indices:
        recommended_travelers.append(list(df['user_id'])[i])
    
    display(df.loc[df["user_id"] == recommended_travelers[0]])
    
    display(df.loc[df["user_id"] == recommended_travelers[1]])
    
    display(df.loc[df["user_id"] == recommended_travelers[2]])
    
    display(df.loc[df["user_id"] == recommended_travelers[3]])
    
    display(df.loc[df["user_id"] == recommended_travelers[4]])
    
    display(df.loc[df["user_id"] == recommended_travelers[5]])
    
    display(df.loc[df["user_id"] == recommended_travelers[6]])
    
    display(df.loc[df["user_id"] == recommended_travelers[7]])
    
    display(df.loc[df["user_id"] == recommended_travelers[8]])
    
    display(df.loc[df["user_id"] == recommended_travelers[9]])


    return recommended_travelers, score_series[1:]

In [46]:
print("CountVectorizer Results \n")
travellers, scores = recommend_count(144)

CountVectorizer Results

User Id: 144

     user_id  ...                                            cleaned
139      144  ...  engineering and energy english listening to mu...

[1 rows x 17 columns]

Other Travelers Similarity Scores:

 150    0.610826
67     0.591482
129    0.531886
48     0.514614
88     0.512246
         ...
55     0.067053
50     0.067053
232    0.067053
235    0.067053
303    0.067053
Length: 303, dtype: float64

Top Three Similar Travellers:

     user_id  ...                                            cleaned
150       59  ...  engineering and energy english french slovak p...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
67      106  ...  automotive industry production of seats englis...

[1 rows x 17 columns]

     user_id  ...                                            cleaned
129      172  ...  german but i still know french the best workin...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
48       41  ...  german traveling working around the house work...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
88      111  ...  studying soss 4ewer english d friends cinema d...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
23       47  ...  i m studying english and of course yours dd tr...

[1 rows x 17 columns]

     user_id  ...                                            cleaned
241      267  ...  as ever english i m trying traveling pc work p...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
82       99  ...  i m studying english german party sleeping wor...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
35       49  ...  gastronomy german housework housework pc work ...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
59       43  ...  english sports traveling working with pc pc ga...

[1 rows x 17 columns]

In [47]:
df_new['sim_score_count_vec'] = scores

df_new

     userId  ... sim_score_count_vec
0         1  ...            0.171222
1         2  ...            0.309364
2        16  ...            0.222126
3         3  ...            0.310545
4         4  ...            0.070633
..      ...  ...                 ...
299     235  ...            0.071230
300     341  ...            0.254490
301     293  ...            0.071230
302     327  ...            0.186160
303     342  ...            0.067053

[304 rows x 4 columns]

In [48]:
df_new['Final score count vectorizer'] = (df_new['sim_score'] + df_new['sim_score_count_vec'])/2
df_new.head(10)

   userId  ... Final score count vectorizer
0       1  ...                     0.491773
1       2  ...                     0.531974
2      16  ...                     0.554764
3       3  ...                     0.536275
4       4  ...                     0.406805
5      17  ...                     0.538991
6       5  ...                     0.540599
7      18  ...                     0.568440
8      31  ...                     0.471729
9      19  ...                     0.584985

[10 rows x 5 columns]

In [ ]:
# df_new = df_new.sort_values(by='Final score', ascending=False)

# df_new.head(10)

In [49]:
df_new.to_csv('new_dataset.csv')

# BERT with TF-IDF Model

In [50]:

#df['Bag_of_words'] = ''

#df["Bag_of_words"] = df["I_am_working_in_field"] + "," + df["spoken_languages"] + "," + df["hobbies"] + "," + df["completed_level_of_education"] + "," + df["favorite_color"] + "," + df["relation_to_smoking"] + "," + df["relation_to_alcohol"] + "," + df["sign_in_zodiac"] + "," + df["marital_status"] + "," + df["I_like_movies"] + "," + df["I_like_music"] + "," + df["my_active_sports"] + "," + df["profession"]

#display(df["Bag_of_words"])

args = {
    "stop_words": "english",
    "lowercase": True,
    "norm": "l2",
    "use_idf": True,
    "smooth_idf": True,
    "sublinear_tf": True
}

count = TfidfVectorizer(**args)

#count_matrix = count.fit_transform(df['Bag_of_words'])

#cosine_sim = cosine_similarity(count_matrix, count_matrix)

count_matrix_one = count.fit_transform(df['I_am_working_in_field'])

cosine_sim_one = cosine_similarity(count_matrix_one, count_matrix_one)

count_matrix_two = count.fit_transform(df['spoken_languages'])

cosine_sim_two = cosine_similarity(count_matrix_two, count_matrix_two)

count_matrix_three = count.fit_transform(df['hobbies'])

cosine_sim_three = cosine_similarity(count_matrix_three, count_matrix_three)

count_matrix_four = count.fit_transform(df['completed_level_of_education'])

cosine_sim_four = cosine_similarity(count_matrix_four, count_matrix_four)

count_matrix_five = count.fit_transform(df['favorite_color'])

cosine_sim_five = cosine_similarity(count_matrix_five, count_matrix_five)

count_matrix_six = count.fit_transform(df['relation_to_smoking'])

cosine_sim_six = cosine_similarity(count_matrix_six, count_matrix_six)

count_matrix_seven = count.fit_transform(df['relation_to_alcohol'])

cosine_sim_seven = cosine_similarity(count_matrix_seven, count_matrix_seven)

count_matrix_eight = count.fit_transform(df['sign_in_zodiac'])

cosine_sim_eight = cosine_similarity(count_matrix_eight, count_matrix_eight)

count_matrix_nine = count.fit_transform(df['marital_status'])

cosine_sim_nine = cosine_similarity(count_matrix_nine, count_matrix_nine)

count_matrix_ten = count.fit_transform(df['I_like_movies'])

cosine_sim_ten = cosine_similarity(count_matrix_ten, count_matrix_ten)

count_matrix_eleven = count.fit_transform(df['I_like_music'])

cosine_sim_eleven = cosine_similarity(count_matrix_eleven, count_matrix_eleven)

count_matrix_twelve = count.fit_transform(df['my_active_sports'])

cosine_sim_twelve = cosine_similarity(count_matrix_twelve, count_matrix_twelve)

count_matrix_thirteen = count.fit_transform(df['profession'])

cosine_sim_thirteen = cosine_similarity(count_matrix_thirteen, count_matrix_thirteen)

euclidean_distance_age_df = euclidean_distances(df[['age']], df[['age']])

euclidean_distance_age = 1 - euclidean_distances(df[['age']], df[['age']]) / np.max((euclidean_distances(euclidean_distance_age_df)))

cosine_sim = (cosine_sim_one + cosine_sim_two + cosine_sim_three + cosine_sim_four + cosine_sim_five + cosine_sim_six + cosine_sim_seven + cosine_sim_eight + cosine_sim_nine + cosine_sim_ten + cosine_sim_eleven + cosine_sim_twelve + cosine_sim_thirteen + euclidean_distance_age) / 14

#cosine_sim = euclidean_distance_age

indices = pd.Series(df['user_id'])

In [53]:

def recommend(id, cosine_sim = cosine_sim):
    
    recommended_travelers = []
    
    idx = indices[indices == id].index[0]
    
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    
    #euclidean_score_series = pd.Series(euclidean_distance_age[idx]).sort_values(ascending = True)
    
    #score_series = euclidean_score_series
    
    top_3_indices = list(score_series.iloc[1:11].index)
    
    print("User Id:", id)
    
    newdf = df.loc[df["user_id"] == id]
    
    display(newdf)
    
   # newdf = df(df["user_id"] == id)

    print("\nOther Travelers Similarity Scores: \n \n",score_series.iloc[1:4])
    
    print("\nTop Three Similar Travellers:")
    
    for i in top_3_indices:
        recommended_travelers.append(list(df['user_id'])[i])
    
    display(df.loc[df["user_id"] == recommended_travelers[0]])
    
    display(df.loc[df["user_id"] == recommended_travelers[1]])
    
    display(df.loc[df["user_id"] == recommended_travelers[2]])
    
    display(df.loc[df["user_id"] == recommended_travelers[3]])
    
    display(df.loc[df["user_id"] == recommended_travelers[4]])
    
    display(df.loc[df["user_id"] == recommended_travelers[5]])
    
    display(df.loc[df["user_id"] == recommended_travelers[6]])
    
    display(df.loc[df["user_id"] == recommended_travelers[7]])
    
    display(df.loc[df["user_id"] == recommended_travelers[8]])
    
    display(df.loc[df["user_id"] == recommended_travelers[9]])

    return score_series[1:]

In [54]:

print("TFIDF Results \n")
scores = recommend(144)

TFIDF Results

User Id: 144

     user_id  ...                                            cleaned
139      144  ...  engineering and energy english listening to mu...

[1 rows x 17 columns]

Other Travelers Similarity Scores:

 150    0.576222
67     0.542704
129    0.517623
dtype: float64

Top Three Similar Travellers:

     user_id  ...                                            cleaned
150       59  ...  engineering and energy english french slovak p...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
67      106  ...  automotive industry production of seats englis...

[1 rows x 17 columns]

     user_id  ...                                            cleaned
129      172  ...  german but i still know french the best workin...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
48       41  ...  german traveling working around the house work...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
88      111  ...  studying soss 4ewer english d friends cinema d...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
35       49  ...  gastronomy german housework housework pc work ...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
82       99  ...  i m studying english german party sleeping wor...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
59       43  ...  english sports traveling working with pc pc ga...

[1 rows x 17 columns]

     user_id  ...                                            cleaned
241      267  ...  as ever english i m trying traveling pc work p...

[1 rows x 17 columns]

    user_id  ...                                            cleaned
23       47  ...  i m studying english and of course yours dd tr...

[1 rows x 17 columns]

In [55]:
df_new['sim_score_tfidf'] = scores

In [ ]:
df_new.head(10)

In [57]:
df_new['Final score tfidf'] = (df_new['sim_score'] + df_new['sim_score_tfidf'])/2
df_new.head(10)

   userId  ... Final score tfidf
0       1  ...          0.484228
1       2  ...          0.517935
2      16  ...          0.536733
3       3  ...          0.506016
4       4  ...          0.406805
5      17  ...          0.523714
6       5  ...          0.525970
7      18  ...          0.566689
8      31  ...          0.457282
9      19  ...          0.574584

[10 rows x 7 columns]

In [58]:
df_new = df_new.sort_values(by='Final score tfidf', ascending=False)
df_new.head(10)

     userId  ... Final score tfidf
150      59  ...          0.663111
67      106  ...          0.654188
129     172  ...          0.650680
48       41  ...          0.640391
88      111  ...          0.638099
102     113  ...          0.629269
35       49  ...          0.615946
91      124  ...          0.611964
226     282  ...          0.610746
23       47  ...          0.609583

[10 rows x 7 columns]

In [ ]:
df_new.to_csv('new dataset.csv')