# Supervised Learning Project: Black Friday
This project was completed for a competition held on http://datahack.analyticsvidhya.com/contest/black-friday-data-hack
# Problem Statement
The challenge was to predict purchase prices of different products purchased by customers based on historical purchase data. The dataset contains features like User_ID, Product_ID, Gender, Age, Occupation, City_Category, Stay_In_Current_City_Years, Marital_Status, Product Category (1, 2, 3), and the target/independent feature 'Purchase'. This is a regression problem.

# Exploratory Analysis
First import the important libraries for analysis

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
train = pd.read_csv('train/train.csv')
test = pd.read_csv('train/test.csv')

# Display the first record
train.head(1)

   User_ID Product_ID   ...    Product_Category_3 Purchase
0  1000001  P00069042   ...                   NaN     8370

[1 rows x 12 columns]

aabc